<h2>Edit Player Info</h2>
<div>
<form id="form">
	<p>
    <label for="userID">UserName</label>
    <input type="text" id="userID" name="userID">
	</p>
	<p>
    <label for="email">Email</label>
    <input type="text" id="email" name="email">
	</p>
	<p>
    <label for="server">Server</label>
    <input type="text" id="server" name="server">
	</p>
</form>
<input id="submit" type="submit" value="Save" onclick="save()"/>
</div>
