<?php

if(isset($_POST['search']))
{
    $valueToSearch = $_POST['valueToSearch'];
    // search in all table columns
    // using concat mysql function
    $query = "SELECT * FROM `player` WHERE userID LIKE '%".$valueToSearch."%'";
    $search_result = filterTable($query);
    
}
 else {
    $query = "SELECT * FROM `player`";
    $search_result = filterTable($query);
}

// function to connect and execute the query
function filterTable($query)
{
    $connect = mysqli_connect("classmysql.engr.oregonstate.edu", "cs340_casillaj", "4969", "cs340_casillaj");
    {{!-- $connect = mysqli_connect("localhost", "root", "", "test_db"); --}}
    $filter_Result = mysqli_query($connect, $query);
    return $filter_Result;
}

?>

<div id="wrapper2">
    <div id="div12">
<h2>Enter Player Info</h2>
<form id="form">
	<p>
    <label for="userID">UserName</label>
    <input type="text" id="userID" name="userID">
	</p>
	<p>
    <label for="email">Email</label>
    <input type="email" id="email" name="email">
	</p>
	<p>
    <label for="server">Server</label>
    <input type="text" id="server" name="server">
	</p>
</form>
<input id="submit" type="submit" value="Submit" onclick="submit()"/>
    </div>

    <div id="div22">
<h2>Enter Champ Info</h2>
<form id="form_champ">
	<p>
    <label for="champName">Champ Name</label>
    <input type="text" id="champName" name="champName">
	</p>
	<p>
    <label for="atk">Attack</label>
    <input type="number" id="atk" name="atk">
	</p>
	<p>
    <label for="def">Defense</label>
    <input type="number" id="def" name="def">
	</p>
</form>
<input id="submit_champ" type="submit" value="Submit" onclick="submit_champ()"/>
    </div>

        <div id="div32">
<h2>Enter Game Info</h2>
<form id="form_game">
	<p>
    <label for="team1ID">Team 1 ID</label>
    <input type="number" id="team1ID" name="team1ID">
	</p>
	<p>
    <label for="team2ID">Team 2 ID</label>
    <input type="number" id="team2ID" name="team2ID">
	</p>
	<p>
    <label for="winningTeamID">Winning Team ID</label>
    <input type="number" id="winningTeamID" name="winningTeamID">
	</p>
</form>
<input id="submit_game" type="submit" value="Submit" onclick="submit_game()"/>
    </div>

    
        <div id="div42">
<h2>Enter Team Info</h2>
<form id="form_team">
	<p>
    <label for="teamColor">Team Color (1 is Red, 0 is Blue)</label>
    <input type="number" id="teamColor" name="teamColor">
	</p>
</form>
<input id="submit_team" type="submit" value="Submit" onclick="submit_team()"/>
    </div>

        <div id="div52">
<h2>Enter PlayerTeam Info</h2>
<form id="form_pt">
    <p>
    <label for="pt_userID">Player ID (reference Player table below)</label>
    <input type="number" id="pt_userID" name="pt_userID">
	</p>
    <p>
    <label for="team">Team Color (1 is Red, 0 is Blue)</label>
    <input type="number" id="team" name="team">
	</p>
    <p>
    <label for="playerKills"># of Kills by Player</label>
    <input type="number" id="playerKills" name="playerKills">
	</p>
    <p>
    <label for="playerDeaths"># of Deaths by Player</label>
    <input type="number" id="playerDeaths" name="playerDeaths">
	</p>
    <p>
    <label for="teamKills"># of Kills by Team</label>
    <input type="number" id="teamKills" name="teamKills">
	</p>
    <p>
    <label for="teamDeaths"># of Deaths by Team</label>
    <input type="number" id="teamDeaths" name="teamDeaths">
	</p>   
    <p>
    <label for="barons"># of Barons Killed by Team</label>
    <input type="number" id="barons" name="barons">
	</p>  
    <p>
    <label for="champBan">ID # of Champ Banned (reference Champ table below)</label>
    <input type="number" id="champBan" name="champBan">
	</p>  
    <p>
    <label for="champPlay">ID # of Champ Played (reference Champ table below)</label>
    <input type="number" id="champPlay" name="champPlay">
	</p>  
</form>
<input id="submit_pt" type="submit" value="Submit" onclick="submit_pt()"/>
    </div>


</div>

<br><h2>Players</h2>
<table id="table">
    <tr>
        <th>UserName</th>
        <th>Server</th>
        <th>E-Mail</th>
        <th>Action</th>
    </tr>
</table>


<br><h2>Champs</h2>
<table id="champTable">
    <tr>
        <th>Champion Name</th>
        <th>Attack</th>
        <th>Defense</th>
        <th>Action</th>
    </tr>
</table>
{{!-- <form method="POST" onsubmit="return checkForm(this);">
    <button id ="call_champs" onclick="loadChampTable()">Champ Wiki 1</button>
    </form> --}}
<button id ="call_champs" onclick="loadChampTable()">Champ Wiki 1</button>
{{!-- <input type="button" class="call_champs" id="call_champs" value="Champ Wiki 2" onclick="loadChampTable()"/> --}}
{{!-- <a href="http://flip3.engr.oregonstate.edu:42054/champWiki/">Champ Wiki 3</a> --}}




<br><h2>Player Stats</h2>
<table id="statTable">
    <tr>
        <th>Player Name</th>
        <th>Team</th>
        <th>Player Kills</th>
        <th>Player Death</th>
		<th>Team Kills</th>
		<th>Team Deaths</th>
		<th>Baron Kills</th>
		<th>Champ Banned</th>
		<th>Champ Played</th>
    </tr>
</table>
<button id ="call_stats" onclick="loadStatTable()">Player Stats</button>
{{!-- <a href="http://flip3.engr.oregonstate.edu:42054/get-stats">Stat Page</a> --}}
{{!-- <button><a href="http://flip3.engr.oregonstate.edu:42054/champWiki"> Champ Wiki </a></button> --}}

<div id="wrapper">
    <div id="div1">
<br><h2>Game Stats</h2>
<table id="gameTable">
    <tr>
        <th>Team 1 ID</th>
        <th>Team 2 ID</th>
        <th>Winning Team</th>
    </tr>
</table>
<button id ="call_game" onclick="loadGameTable()">Game Stats</button>
    </div>
    <div id ="div2">
<br><h2>Team Stats</h2>
<table id="teamTable">
    <tr>
        <th>Team ID</th>
        <th>Team Color(1 is Red, 0 is Blue</th>
    </tr>
</table>
<button id ="call_team" onclick="loadTeamTable()">Team Table</button>
    </div>
</div>


<div id="wrapper">
<br><h2>Player Search</h2>
<table id="searchTable">
    <tr>
        <th>UserName</th>
        <th>Server</th>
        <th>E-Mail</th>
        <th>Action</th>
    </tr>
</table>

<h2>Search for a Player</h2>
<form id="search_form">
	<p>
    <label for="userID">Type Player Name Here</label>
    <input type="text" id="userID" name="userID">
	</p>
    {{!-- <p>
    <label for="search_server">Type Player Name Here</label>
    <input type="email" id="search_server" name="search_server" value="">
	</p>
    <p>
    <label for="search_email">Type Player Name Here</label>
    <input type="text" id="search_email" name="search_email" value="">
	</p> --}}
</form>
<input id="submit_search" type="submit" value="Submit" onclick="submit_search()"/>

</div>

<!-- I'm working here -->
{{!-- <form action="php_html_table_data_filter.php" method="post"> --}}
    <form action="home.handlebars" method="post"></form>
            <input type="text" name="valueToSearch" placeholder="Value To Search"><br><br>
            <input type="submit" name="search" value="Filter"><br><br>
            
            <table>
                <tr>
                    <th>User Name</th>
                    <th>Server</th>
                    <th>E-Mail</th>
                    <th>Action</th>
                </tr>
      <!-- populate table from mysql database -->
                <?php while($row = mysqli_fetch_array($search_result)):?>
                <tr>
                    <td><?php echo $row['userID'];?></td>
                    <td><?php echo $row['server'];?></td>
                    <td><?php echo $row['email'];?></td>
                    <td><?php echo $row['action'];?></td>
                </tr>
                <?php endwhile;?>
            </table>
        </form>                