
<h2>Search Player Stats</h2>
<div>
<form id="form">
	<p>
    <label for="userID">UserID</label>
    <input type="text" id="userID" name="userID">
	</p>
<input id="submit" type="submit" value="Save" onclick="save()"/>
</div>
